html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
img,
ol,
ul,
li,
form,
input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin:             0;
	padding:            0;
	
	font-weight:        normal;
	font-size:          100%;
	
	background:         transparent;
	outline:            0;
}

ol,
ul {
	list-style: none;
}
/*
@font-face {
	font-family: "PTSansBold";
	
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/PTSans-Bold.eot);
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/PTSans-Bold.ttf) format("truetype"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/PTSans-Bold.svg) format("svg"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/PTSans-Bold.woff) format("woff");
}

@font-face {
	font-family: "RobotoRegular";
	
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Regular.eot);
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Regular.ttf) format("truetype"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Regular.svg) format("svg"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Regular.woff) format("woff");
}

@font-face {
	font-family: "RobotoRegularItalic";
	
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Italic.eot);
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Italic.ttf) format("truetype"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Italic.svg) format("svg"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Italic.woff) format("woff");
}

@font-face {
	font-family: "RobotoBold";
	
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Bold.eot);
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Bold.ttf) format("truetype"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Bold.svg) format("svg"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Bold.woff) format("woff");
}

@font-face {
	font-family: "RobotoBoldItalic";
	
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-BoldItalic.eot);
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-BoldItalic.ttf) format("truetype"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-BoldItalic.svg) format("svg"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-BoldItalic.woff) format("woff");
}

@font-face {
	font-family: "RobotoLight";
	
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Light.eot);
	src:         url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Light.ttf) format("truetype"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Light.svg) format("svg"),
				 url(http://st.acstnst.com/content/Detoxic_SK_sp/fonts/Roboto-Light.woff) format("woff");
}
*/
@font-face {
    font-family: "PTSansBold";
    src: url(../fonts/PTSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "RobotoRegular";
       src: url(../fonts/Roboto-Regular.ttf) format('truetype');
   }

@font-face {
    font-family: "RobotoRegularItalic";
       src: url(../fonts/Roboto-Italic.ttf) format('truetype');
   }

@font-face {
    font-family: "RobotoBold";
     src: url(../fonts/Roboto-Bold.ttf) format('truetype');
 }

@font-face {
    font-family: "RobotoBoldItalic";
       src: url(../fonts/Roboto-BoldItalic.ttf) format('truetype');
   }

@font-face {
    font-family: "RobotoLight";
      src: url(../fonts/Roboto-Light.ttf) format('truetype');}


/* body */
body {
	font-weight: normal;
	font-size:   16px;
	line-height: 1;
	font-family: "RobotoRegular", sans-serif;min-width: 320px;
}

.wrapper {
	width:        980px;
	margin-right: auto;
	margin-left:  auto;
}

.wrapper:after {
	content: " ";
	
	display: block;
	clear:   both;
}

.clear {
	clear: both;
}

.wrap_block_success {
	margin-left: 0 !important;
}

/****   header   ****/
header {
	position:   relative;
	
	padding:    15px 0;
	
	background: #323437;
}

.header-logo {
	float:       left;
	padding-top: 6px;
}

.header-logo img {
	height: 26px;
}

.header-call {
	float:                 right;
	padding:               9px 12px;
	
	font-size:             15px;
	font-family:           "PTSansBold", sans-serif;
	color:                 #ffffff;
	text-transform:        uppercase;
	
	border:                1px solid #aed304;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	border-radius:         4px;
	cursor:                pointer;
}

.header-call:hover {
	border-color: #82a504;
}

.blocks-header {
	float:      right;
	
	text-align: center;
}

.block-header {
	display:        inline-block;
	min-height:     38px;
	margin-left:    30px;
	padding-left:   50px;
	
	font-size:      16px;
	line-height:    18px;
	vertical-align: top;
	text-align:     left;
	color:          #aed304;
}

.block-header--1 {
	background: url(../img/block1-header.png) no-repeat 0 center;
}

.block-header--2 {
	background: url(../img/block2-header.png) no-repeat 0 center;
	display:    none;
}

/*****  section1  *****/
.section1 {
	padding-bottom: 71px;
	padding-top: 15px;
	overflow:       hidden;
	
	background:     url(../img/bg-content-1.jpg) no-repeat center top;
}

.main-title {
	padding:     0 80px 12px;
	font-size:   35px;
	line-height: 40px;
	font-family: "PTSansBold", sans-serif;
	text-align:  center;
	color:       #ffffff;
}

.main-title span {
	font-size:   28px;
	font-family: "RobotoRegular", sans-serif;
}

.title-small {
	padding-bottom: 18px;
	
	font-size:      36px;
	line-height:    40px;
	font-family:    "RobotoLight", sans-serif;
	text-align:     center;
	color:          #ffffff;
}

.section1-left {
	display:        inline-block;
	float:          left;
	width:          402px;
	margin-right:   10px;
	margin-left:    15px;
	padding-top:    96px;
	
	vertical-align: top;
}

.do {
	display:       table;
	height:        91px;
	margin-bottom: 15px;
	padding-left:  105px;
	
	font-size:     19px;
	line-height:   20px;
	font-family:   "RobotoBold", sans-serif;
	color:         #ffffff;
}

.do > p {
	display:        table-cell;
	
	vertical-align: middle;
}

.do--small {
	display:     block;
	
	font-size:   16px;
	font-family: "RobotoRegular", sans-serif;
}

.do--1 {
	background: url(../img/do--1.png) no-repeat left center;
}

.do--2 {
	background: url(../img/do--2.png) no-repeat left center;
}

.do--3 {
	background: url(../img/do--3.png) no-repeat left center;
}

.section1-center {
	position:       relative;
	background:     url(../img/product-big.png) no-repeat center;
	display:        inline-block;
	float:          left;
	width:          260px;
	min-height:     457px;
	background-size: contain;
	vertical-align: top;
	
	
	top:            44px;
}

.product-big_title {
	margin-left:    -309px;
	padding-top:    20px;
	
	font-size:      22px;
	line-height:    28px;
	font-family:    "RobotoBoldItalic", sans-serif;
	color:          #ffd303;
	text-transform: uppercase;
}

.product-big_sale {
	position:       absolute;
	top:            0;
	left:           130px;
	z-index:        4;
	
	width:          111px;
	height:         111px;
	padding-top:    26px;
	
	font-size:      11px;
	line-height:    22px;
	font-family:    "RobotoBoldItalic", sans-serif;
	text-align:     center;
	color:          #323437;
	text-transform: uppercase;
	
	background:     url(../img/bg-sale.png) no-repeat 0 0;
}

.product-big_sale > span {
	display:     block;
	
	font-size:   34px;
	font-family: "RobotoBold", sans-serif;
	font-style:  italic;
}

.product-big_sale span > span {
	font-size: 25px;
}

.product-big_sh {
	position: absolute;
	bottom:   23px;
	left:     -16px;
}

.product-big_sh--top {
	display:        none;
	width:          77px;
	height:         77px;
	padding-top:    15px;
	
	font-size:      22px;
	line-height:    24px;
	font-family:    "RobotoBold", sans-serif;
	text-align:     center;
	color:          #323437;
	text-transform: uppercase;
	font-style:     italic;
	
	background:     url(../img/bg-sh.png) no-repeat 0 0;
}

.product-big_sh--top > span {
	font-size: 14px;
}

.product-big_sh--bottom {
	padding-top: 14px;
	text-align:  center;
	
	font-size:   16px;
	line-height: 18px;
	font-family: "RobotoRegularItalic", sans-serif;
	color:       #ffffff;
}

.section1-right {
	float: right;
	width: 280px;
}

.section1-right.for_top_block {
	margin-top: 85px;
}

.section1-right-wrap {
	margin-bottom:         30px;
	padding-top:           25px;
	
	background:            #323437;
	border:                2px solid #fed203;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
}

.price-old--top,
.price-new--top {
	display:        inline-block;
	width:          47%;
	
	vertical-align: top;
}

.price-old--top {
	position:    relative;
	
	margin-left: 4%;
	
	color:       #8b8b8b;
}

.price-old--top:after {
	content:         " ";
	position:        absolute;
	bottom:          0;
	left:            0;
	
	width:           90px;
	height:          46px;
	
	background:      url(../img/price-old.png) no-repeat 0 0;
	background-size: 90px;
}

.price-new--top {
	color: #aed304;
}

.price-text--top {
	font-size:   12px;
	line-height: 18px;
	font-family: "RobotoRegularItalic", sans-serif;
}

.price-x--top {
	margin:         10px 0 0 10px;
	
	font-size:      30px;
	line-height:    28px;
	font-family:    "RobotoBoldItalic", sans-serif;
	letter-spacing: -1px;
}

.currency-small--top {
	font-size: 20px;
}

.form-top {
	padding: 10px;
}

.form-main {
	position: relative;
}

.form-main:before {
	content:    " ";
	position:   absolute;
	bottom:     50px;
	left:       -50px;
	
	width:      28px;
	height:     58px;
	
	background: url(../img/arrow.png) no-repeat 0 0;
}

.label-form {
	padding-left: 10px;
	
	font-size:    15px;
	line-height:  16px;
	color:        #ffffff;
}

.input-form {
	width:                 100%;
	height:                30px;
	margin:                5px 0;
	padding:               0 10px 0 10px;
	
	font-size:             15px;
	line-height:           16px;
	font-family:           "RobotoRegular", sans-serif;
	color:                 #8b8b8b;
	
	background-color:      #ffffff;
	border:                none;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
}

/*.address-form #country{float: right; padding: 0; margin: 4px 0 0 0; height: 34px; width: 212px;
    color: #8b8b8b; font-family: "RobotoRegular",sans-serif;font-size: 15px; line-height: 14px; outline: none;
    -webkit-appearance: none; display: block;}
.address-form #country:after {content: "▼"; font-size: 20px;}
.address-form #country option {width: 100% !important; }*/

/*.name-form {
  background: url(//st.acstnst.com/content/Detoxic_SK_sp/img/name-form-bg.png) no-repeat 6px center #ffffff;
}
.phone-form {
  background: url(//st.acstnst.com/content/Detoxic_SK_sp/img/phone-form-bg.png) no-repeat 8px center #ffffff;
}*/
.bottom-price {
	font-size:   16px;
	line-height: 22px;
	color:       #ffffff;
	text-align:  center;
}

.total-price {
	font-size:   20px;
	line-height: 20px;
	color: #aed304;
	text-align:  center;
}

.submit-form {
	width:                 100%;
	margin-top:            5px;
	padding:               18px 0;
	
	font-size:             27px;
	line-height:           27px;
	font-family:           "PTSansBold", sans-serif;
	color:                 #343639;
	text-transform:        uppercase;
	
	background:            #ffd203; /* Old browsers */
	background:            -moz-linear-gradient(top, #ffd203 0%, #f5ae00 100%); /* FF3.6+ */
	background:            -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd203), color-stop(100%, #f5ae00)); /* Chrome,Safari4+ */
	background:            -webkit-linear-gradient(top, #ffd203 0%, #f5ae00 100%); /* Chrome10+,Safari5.1+ */
	background:            -o-linear-gradient(top, #ffd203 0%, #f5ae00 100%); /* Opera 11.10+ */
	background:            -ms-linear-gradient(top, #ffd203 0%, #f5ae00 100%); /* IE10+ */
	background:            linear-gradient(to bottom, #ffd203 0%, #f5ae00 100%); /* W3C */
	border:                none;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	cursor:                pointer;
	filter:                progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd203', endColorstr='#f5ae00', GradientType=0); /* IE6-9 */
	-webkit-transition:    all 0.5s;
	-moz-transition:       all 0.5s;
	-ms-transition:        all 0.5s;
	-o-transition:         all 0.5s;
	transition:            all 0.5s;
}

.submit-form:hover {
	background:        #f5ae00; /* Old browsers */
	background:        -moz-linear-gradient(top, #f5ae00 0%, #ffd203 100%); /* FF3.6+ */
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5ae00), color-stop(100%, #ffd203)); /* Chrome,Safari4+ */
	background:        -webkit-linear-gradient(top, #f5ae00 0%, #ffd203 100%); /* Chrome10+,Safari5.1+ */
	background:        -o-linear-gradient(top, #f5ae00 0%, #ffd203 100%); /* Opera 11.10+ */
	background:        -ms-linear-gradient(top, #f5ae00 0%, #ffd203 100%); /* IE10+ */
	background:        linear-gradient(to bottom, #f5ae00 0%, #ffd203 100%); /* W3C */
	filter:            progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5ae00', endColorstr='#ffd203', GradientType=0); /* IE6-9 */
	
	-webkit-transform: scale(1.05);
	-moz-transform:    scale(1.05);
	-ms-transform:     scale(1.05);
	-o-transform:      scale(1.05);
	transform:         scale(1.05);
}

.protection {
	width:         255px;
	min-height:    35px;
	padding-right: 30px;
	
	font-size:     16px;
	line-height:   18px;
	color:         #ffd303;
	
	background:    url(../img/protect-bg.png) no-repeat right top;
}

.section1 .protection {
	padding-left: 14px;
}

/*******  section2  *******/
.section2 {
	padding-top: 30px;
	
	background:  url(../img/bg-section2-top.png) repeat-x 0 0;
}

.title {
	font-size:      44px;
	line-height:    47px;
	font-family:    "PTSansBold", sans-serif;
	text-align:     center;
	color:          #000000;
	letter-spacing: -1px;
}

.title span {
	font-size: 25px;
}

.danger-wrap {
	min-height: 842px;
	margin-top: 30px;
	
	background: url(../img/bg-section2.png) no-repeat center top;
}

.danger_title {
	padding-top:  30px;
	padding-left: 40px;
	
	font-size:    36px;
	line-height:  38px;
	font-family:  "RobotoBold", sans-serif;
	color:        #ea0000;
}

.danger_text {
	min-height:   66px;
	padding-left: 75px;
	
	font-size:    22px;
	line-height:  28px;
	color:        #323437;
	
	background:   url(../img/danger.png) no-repeat 0 center;
}

.danger_text--1 {
	margin-top: 85px;
}

.danger_text--2 {
	float:      left;
	margin-top: 465px;
	width: 370px;
}

.danger_text--3 {
	float:       right;
	margin-top:  110px;
	width:       375px;
	line-height: 28px;
}

/*******   section3   ****/
.section3 {
	padding-top: 40px;
	
	background:  url(../img/bg-section3.jpg) no-repeat center top;
}

.section3 .title {
	color: #ffffff;
}

.symptoms {
	padding: 45px 60px 45px 200px;
}

.symptoms_text {
	min-height:    43px;
	margin-bottom: 12px;
	padding-top:   3px;
	padding-left:  60px;
	
	font-size:     23px;
	line-height:   35px;
	color:         #ffffff;
	
	background:    url(../img/smile-img.png) no-repeat left center;
}

/****  section4   *****/
.section4 {
	padding-top: 40px;
}

.section41 {
	padding-top:    40px;
	padding-bottom: 30px;
	
	background:     url(../img/bg-section4.jpg) no-repeat center 20px;
}

.section41 .title > span:last-child {
	display:     block;
	
	font-weight: normal !important;
	font-size:   40px;
	font-family: "PTSans", sans-serif;
}

.enter {
	padding: 25px 0 26px 20px;
}

.section41 .title {
	padding-bottom: 40px;
}

.block_enter {
	display:        inline-block;
	width:          24%;
	margin-left:    -1%;
	padding-bottom: 20px;
	
	font-size:      24px;
	line-height:    30px;
	vertical-align: top;
	text-align:     center;
}

.block_enter p {
	padding-bottom: 20px;
}

.action {
	min-height: 585px;
	margin-top: 25px;
	
	background: url(../img/action-big.png) no-repeat center top;
}

.block_action {
	font-size:   17px;
	line-height: 27px;
}

.block_action ul {
	font-size: 16px;
	color:     #000000;
}

.block_action p {
	font-size: 26px !important;
}

.block_action ul li {
	margin-bottom:   5px;
	
	list-style-type: square;
}

.block_action * {
	width:       175px;
	
	line-height: 1.2;
}

.block_action b {
	display:       block;
	margin-bottom: 5px;
}

.block_action p {
	padding-bottom: 5px;
	
	font-weight:    bold;
	font-size:      23px;
	line-height:    27px;
	font-family:    "RobotoBold", sans-serif;
	color:          #000000;
}

.block_action span {
	display: block;
}

.block_action--1 {
	float:       left;
	margin-top:  25px;
	margin-left: 25px;
}

.block_action--2 {
	float:      right;
	margin-top: 25px;
}

.block_action--4 {
	float: right;
}

.block_action--3 {
    margin-left: 25px;
    padding-top: 135px;
}


.block_action--4 {
	margin-top:   -183px;
	margin-right: -10px;
}

/****  section5   ****/
.section5 {
	padding:    30px 0;
	
	background: url(../img/bg-section5.jpg) no-repeat center top;
}

.form-wrap {
	position:              relative;
	
	padding:               18px 0 18px 25px;
	
	background:            #323437;
	border:                2px solid #ffd200;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
}

.form-wrap:before {
	content:    " ";

	background: url(../img/product-big.png) no-repeat center;
	position:   absolute;
	top:        -4px;
	left:       407px;
	z-index:    1;
	background-size: contain;
	width:      331px;
	height:     368px;
	
}

.form_left,
.form_right {
	position:       relative;
	z-index:        2;
	
	display:        inline-block;
	width:          49%;
	
	vertical-align: middle;
}

.form_right {
	padding-left: 19%;
}

.form_left--title {
	font-size:      20px;
	line-height:    28px;
	font-family:    "RobotoBoldItalic", sans-serif;
	color:          #ffd303;
	text-transform: uppercase;
}

.form_left--sale {
	position:        absolute;
	top:             -48px;
	left:            265px;
	
	width:           134px;
	height:          134px;
	padding-top:     32px;
	
	font-size:       14px;
	line-height:     27px;
	font-family:     "RobotoBoldItalic", sans-serif;
	text-align:      center;
	color:           #323437;
	text-transform:  uppercase;
	
	background:      url(../img/bg-sale.png) no-repeat 0 0;
	background-size: 134px;
}

.form_left--sale > span {
	display:     block;
	
	font-size:   40px;
	font-family: "RobotoBold", sans-serif;
	font-style:  italic;
}

.form_left--sale span > span {
	font-size: 30px;
}

.price {
	padding-top: 70px;
}

.price-old,
.price-new {
	display:        inline-block;
	
	vertical-align: top;
}

.price-old {
	position:     relative;
	
	margin-right: 8%;
	
	color:        #8b8b8b;
}

.price-old:after {
	content:         " ";
	position:        absolute;
	bottom:          5px;
	left:            0;
	
	width:           115px;
	height:          60px;
	
	background:      url(../img/price-old.png) no-repeat 0 0;
	background-size: 115px;
}

.price-new {
	color: #aed304;
}

.price-text {
	font-size:   20px;
	line-height: 21px;
	font-family: "RobotoRegularItalic", sans-serif;
}

.price-x {
	font-size:      40px;
	line-height:    48px;
	font-family:    "RobotoBoldItalic", sans-serif;
	letter-spacing: -1px;
}

.currency-small {
	font-size: 25px;
}

.form_left--sh {
	position:       relative;
	
	padding-top:    20px;
	padding-bottom: 30px;
}

.form_left--sh-bottom {
	font-size:   16px;
	line-height: 18px;
	font-family: "RobotoRegularItalic", sans-serif;
	color:       #ffffff;
    padding-right: 60px;
}

.form_left--sh-top {
	position:       absolute;
	top:            -6px;
	left:           340px;
	
	display:        none;
	width:          77px;
	height:         77px;
	padding-top:    16px;
	
	font-size:      22px;
	line-height:    24px;
	font-family:    "RobotoBold", sans-serif;
	text-align:     center;
	color:          #323437;
	text-transform: uppercase;
	font-style:     italic;
	
	background:     url(../img/bg-sh.png) no-repeat 0 0;
}

.form_left--sh-top > span {
	font-size: 14px;
}

/******  section6  ****/
.section6 {
	padding-top: 40px;
	
	background:  url(../img/bg-section4.jpg) no-repeat center -1540px;
}

.research_item {
	margin:                30px 0;
	padding:               20px 0;
	
	font-size:             24px;
	line-height:           30px;
	text-align:            center;
	
	border:                2px solid #fa6767;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
}

.research_item span {
	font-weight: 700;
}

.research {
	position:   relative;
	z-index:    2;
	
	height:     614px;
	
	background: url(../img/research.png) no-repeat center top;
}

.research_block {
	display:        inline-block;
	width:          48%;
	padding-top:    225px;
	
	vertical-align: top;
}

.research_block--1 {
	padding-left: 170px;
}

.research_block--2 {
	padding-left: 184px;
}

.research_procent {
	padding-bottom: 120px;
	
	font-size:      36px;
	line-height:    36px;
	font-family:    "PTSansBold", sans-serif;
	color:          #323437;
}

.research_block--1 .research_procent {
	/*padding-left: 20px;*/
	
	color:        #92ac1c;
}

.research_title {
	font-size:   26px;
	line-height: 30px;
	font-family: "PTSansBold", sans-serif;
	color:       #323437;
}

.research_text {
	font-size:   21px;
	line-height: 32px;
	color:       #323437;
}

.rezult {
	margin-top:   -80px;
	padding-left: 12px;
}

.rezult:after {
	content: " ";
	
	display: block;
	clear:   both;
}

.rezult_left {
	display:        inline-block;
	width:          49%;
	height:         609px;
	margin-left:    4px;
	padding-top:    40px;
	text-shadow:    1px 1px 1px #000;
	
	vertical-align: top;
	
	background:     url(../img/rezult_left.png) repeat-x 0 0;
}

.rezult_right {
	display:        inline-block;
	width:          48.5%;
	height:         609px;
	margin-left:    -4px;
	padding-top:    40px;
	text-shadow:    1px 1px 1px #000;
	
	vertical-align: top;
	
	background:     url(../img/rezult_right.png) repeat-x 0 0;
}

.rezult_text {
	display:        inline-block;
	width:          360px;
	min-height:     280px;
	margin-left:    20px;
	padding-right:  20px;
	font-size:      18px;
	line-height:    26px;
	vertical-align: top;
	color:          #ffffff;
	
	border-right:   3px dotted #ffffff;
}

.rezult_procent {
	display:        inline-block;
	margin-left:    24px;
	
	font-size:      18px;
	line-height:    26px;
	vertical-align: top;
	color:          #ffffff;
}

.rezult_text p,
.rezult_procent p {
	padding-bottom: 25px;
}

/*****  section7  ****/
.section7 {
	margin-top: -200px;
}

.section7 .title {
	padding: 0 100px;
}

.best-wrap {
	margin-top: 25px;
	
	background: url(../img/product-section_new.png) no-repeat 100% -25%;
}

.best {
	position:   relative;
	
	background: url(../img/bg-section-7_1.png) no-repeat 234px 20px;
}

.best_title {
	position:  absolute;
	top:       445px;
	right:     50px;
	
	font-size: 50px;
	color:     white;
}

.header-logo h1 {
	font-weight:    700;
	font-size:      40px;
	color:          white;
	text-transform: uppercase;
}

.best:after {
	content: " ";
	
	display: block;
	clear:   both;
}

.best_text {
	padding-left: 50px;
	font-size:    20px;
	line-height:  24px;
	background:   url(../img/for-best.png) no-repeat 0 0;
}

/*.best_text span {
	display: block;
}*/

.best_text--1 {
	margin-left:    66px;
	padding-bottom: 100px;
    width: 400px;
}

.best_text--2 {
	padding-bottom: 200px;
    width: 300px;
}

.best_text--3 {
	padding-bottom: 135px;
    width: 235px;
}

.best_text--4 {
	float:          left;
	
	padding-bottom: 30px;
    width: 360px;
}

.best_text--5 {
    float: right;
    margin-top: 115px;
    padding-bottom: 30px;
    position: relative;
    width: 375px;
}

/*****  section8  ***/
.section8 {
	padding:    30px 0;
	
	background: url(../img/bg-section8.jpg) no-repeat center top;
}

/*****  section9  ***/
.section9 {
	padding: 35px 0 0px;
}

.expert {
	min-height: 528px;
	padding-top: 35px;
	background: url(../img/expert.png) no-repeat 70px bottom;
	-moz-background-size: 27%;
	-o-background-size: 27%;
	background-size: 27%;
	-webkit-box-shadow: 0 9px 30px 9px rgba(66, 41, 25, 0.1);
	-moz-box-shadow: 0 9px 30px 9px rgba(66, 41, 25, 0.1);
	box-shadow: 0 9px 30px 9px rgba(66, 41, 25, 0.1);
}

.expert_text {
	padding:        50px 50px 90px 420px;
	
	font-size:      20px;
	line-height:    28px;
	letter-spacing: -1px;
}

.expert_name {
	padding-left: 420px;
	
	font-size:    22px;
	line-height:  24px;
	color:        #8a9f1c;
}

.expert_about {
	padding-left: 420px;
	
	font-size:    17px;
	line-height:  24px;
	color:        #8a9f1c;
}

/****  section10   ****/
.section10 .title {
	padding: 0 100px;
}

.health {
	padding: 30px 0;
}

.health_block {
	display:        inline-block;
	width:          29%;
	padding-bottom: 30px;
	
	font-size:      19px;
	line-height:    25px;
	vertical-align: top;
	text-align:     center;
	letter-spacing: -1px;
}

.health_block--2 {
	margin-right: 5%;
	margin-left:  5%;
}

.health_block p {
	padding-bottom: 5px;
}

/****  section11   ****/
.section11 {
	padding-bottom: 86px;
}

.slick-slider {
	margin-bottom: 1px;
}

.slider {
	margin-top:         15px;
	padding:            35px 50px 20px;
	
	-webkit-box-shadow: 0 9px 30px 9px rgba(66, 41, 25, 0.1);
	-moz-box-shadow:    0 9px 30px 9px rgba(66, 41, 25, 0.1);
	box-shadow:         0 9px 30px 9px rgba(66, 41, 25, 0.1);
}

.slide_img {
	float:        left;
	padding-top:  25px;
	padding-left: 12px;
}

.slide_img img {
	margin-right: 20px;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 150px;
}

.slide_text {
	padding-left: 200px;
	
	font-size:    17px;
	line-height:  21px;
}

.slide_name {
	padding-top: 20px;
	
	font-size:   22px;
	line-height: 24px;
	font-family: "PTSansBold", sans-serif;
}

.slick-prev,
.slick-next {
	top:        50%;
	
	width:      28px;
	height:     45px;
	margin-top: -22px;
}

.slick-prev:before,
.slick-next:before {
	display: none;
}

.slick-prev {
	left:       -38px;
	
	background: url(../img/prev.png) no-repeat 0 0;
}

.slick-next {
	right:      -38px;
	
	background: url(../img/next.png) no-repeat 0 0;
}

.slick-prev:hover,
.slick-prev:focus {
	background: url(../img/prev.png) no-repeat 0 0;
	opacity:    0.8;
}

.slick-next:hover,
.slick-next:focus {
	background: url(../img/next.png) no-repeat 0 0;
	opacity:    0.8;
}

.slick-dots li {
	width:  12px;
	height: 12px;
}

.slick-dots li button {
	width:                 12px;
	height:                12px;
	padding:               1px;
	
	background:            #323437;
	-webkit-border-radius: 50%;
	-moz-border-radius:    50%;
	border-radius:         50%;
}

.slick-dots li.slick-active button,
.slick-dots li:hover button {
	background: #8a9f1c;
}

.slick-dots li button:before {
	display: none;
}

/****  section12   ****/
.section12 {
	padding:    30px 0;
	
	background: url(../img/bg-section12.jpg) no-repeat center top;
}

/****  section13  ***/
.section13 {
	padding: 40px 0;
}

.use {
	padding-top: 45px;
}

.use-block {
	display:        inline-block;
	width:          31%;
	margin-left:    1%;
	padding-bottom: 20px;
	
	vertical-align: top;
	text-align:     center;
}

.use_title {
	padding:     45px 0 20px;
	
	font-size:   23px;
	line-height: 24px;
	font-family: "RobotoBold", sans-serif;
	color:       #93ad1f;
}

.use_text {
	font-size:   19px;
	line-height: 23px;
}

/****  section14  ***/
.section14 {
	padding-top:    40px;
	padding-bottom: 70px;
}

.get {
	text-align: center;
	padding:    35px 0;
}

.get-block {
	display:        inline-block;
	width:          18%;
	margin-left:    1%;
	padding-bottom: 20px;
	
	font-size:      23px;
	line-height:    29px;
	font-family:    "RobotoBold", sans-serif;
	vertical-align: top;
	text-align:     center;
}

.get-block p {
	padding-bottom: 30px;
}

.sertificats {
	padding-left: 100px;
}

.sertificat-wrap {
	display:            inline-block;
	margin-left:        20px;
	
	font-size:          1px;
	line-height:        1px;
	vertical-align:     top;
	
	-webkit-box-shadow: 0 0 20px 9px rgba(66, 41, 25, 0.1);
	-moz-box-shadow:    0 0 20px 9px rgba(66, 41, 25, 0.1);
	box-shadow:         0 0 20px 9px rgba(66, 41, 25, 0.1);
}

/*****  section15  ****/
.section15 {
	padding-bottom: 50px;
}

.fake {
	margin-top:            30px;
	padding:               25px 0 0 15px;
	
	background:            no-repeat right bottom;
	border:                2px solid #fa6767;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
}

.fake_title {
	padding:        0 50px 30px;
	
	font-size:      23px;
	line-height:    27px;
	text-align:     center;
	letter-spacing: -1px;
}

.fake_text {
	padding:        0 400px 20px 12px;
	
	font-size:      27px;
	line-height:    28px;
	letter-spacing: -1px;
}

.fake_form {
	padding-bottom: 30px;
}

.fake_input {
	display:               inline-block;
	width:                 320px;
	height:                60px;
	padding:               0 10px;
	
	vertical-align:        top;
	
	border:                1px solid #666666;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
}

.shipment-price {
	text-align: center;
	color: #aed304;
	padding:    5px;
}

.fake_button {
	display:               inline-block;
	width:                 230px;
	height:                60px;
	margin-left:           18px;
	
	font-size:             24px;
	line-height:           27px;
	font-family:           "PTSansBold", sans-serif;
	vertical-align:        top;
	color:                 #343639;
	text-transform:        uppercase;
	
	background:            #ffd203;
	background:            -moz-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
	background:            -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd203), color-stop(100%, #f5ae00));
	background:            -webkit-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
	background:            -o-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
	background:            -ms-linear-gradient(top, #ffd203 0%, #f5ae00 100%);
	background:            linear-gradient(to bottom, #ffd203 0%, #f5ae00 100%);
	border:                none;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	cursor:                pointer;
	filter:                progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd203', endColorstr='#f5ae00', GradientType=0);
}

.fake_button:hover {
	background: #f5ae00;
	background: -moz-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5ae00), color-stop(100%, #ffd203));
	background: -webkit-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
	background: -o-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
	background: -ms-linear-gradient(top, #f5ae00 0%, #ffd203 100%);
	background: linear-gradient(to bottom, #f5ae00 0%, #ffd203 100%);
	filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5ae00', endColorstr='#ffd203', GradientType=0);
}

.js-message {
	width:       570px;
	padding-top: 10px;
	
	font-size:   16px;
	line-height: 18px;
}

/****  section16  ***/
.section16 {
	padding-bottom: 60px;
}

.work {
	padding-top:  40px;
	padding-left: 60px;
}

.block_work {
	position:       relative;
	
	display:        inline-block;
	width:          21%;
	margin-left:    2%;
	
	vertical-align: top;
}

.work_img {
	padding-bottom: 20px;
	
	text-align:     center;
}

.work_text {
	position:       relative;
	
	padding-left:   26px;
	
	font-size:      23px;
	line-height:    26px;
	font-family:    "PTSansBold", sans-serif;
	letter-spacing: -1px;
}

.work_text span {
	position: absolute;
	top:      0;
	left:     0;
	
	color:    #ffd200;
}

.block_work--1.block_work:after,
.block_work--2.block_work:after,
.block_work--3.block_work:after {
	content:    " ";
	position:   absolute;
	top:        27px;
	right:      -48px;
	
	width:      77px;
	height:     29px;
	
	background: url(../img/arrow-work.png) no-repeat 0 0;
}

/****   section17   ****/
.section17 {
	padding-top: 23px;
	
	background:  url(../img/bg-section17.jpg) no-repeat center top;
}

.section17 .title {
	color: #ffffff;
}

.section17-left {
	display:        inline-block;
	width:          402px;
	margin-left:    35px;
	padding-top:    65px;
	
	vertical-align: top;
}

.section17-right {
	display:        inline-block;
	width:          360px;
	margin-top:     30px;
	margin-left:    125px;
	
	vertical-align: top;
}

.section17-right-wrap {
	margin-bottom:         20px;
	padding-top:           25px;
	
	background:            #323437;
	border:                2px solid #fed203;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
}

/* ------------------------SELECT FIX -----------------------------*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	#country {
		display:               inline-block;
		width:                 256px;
		height:                38px;
		margin:                0;
		padding-right:         18px;
		padding-left:          45px;
		
		font-size:             15px;
		line-height:           14px;
		font-family:           "RobotoRegular", sans-serif;
		color:                 #8b8b8b;
		
		background:            #ffffff;
		border:                none;
		-webkit-border-radius: 4px;
		-moz-border-radius:    4px;
		border-radius:         4px;
		outline:               none;
		cursor:                pointer;
		
		-webkit-appearance:    none;
		-moz-appearance:       none;
		appearance:            none;
	}
	
	.select-styling {
		display: none;
	}
}

.address-form {
	position:              relative;
	
	float:                 left;
	width:                 100%;
	margin-top:            7px;
	margin-bottom:         7px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	border-radius:         4px;
}

#home-img {
	position: absolute;
	top:      15px;
	left:     8px;
}

.address-form:after {
	content:           "»";
	position:          absolute;
	top:               7px;
	right:             9px;
	
	width:             26px;
	height:            28px;
	min-height:        100%;
	padding:           0;
	
	font-size:         22px;
	line-height:       25px;
	font-family:       "RobotoRegular", sans-serif;
	color:             #323437;
	
	background-color:  transparent;
	-webkit-transform: rotate(90deg);
	-moz-transform:    rotate(90deg);
	-ms-transform:     rotate(90deg);
	transform:         rotate(90deg);
	
	pointer-events:    none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.address-form:after {
		display: none;
	}
}

.home {
	width:                 100%;
	height:                38px;
	margin:                7px 0 7px 0;
	padding:               0 0 0 43px;
	
	background:            #ffffff url(../img/address-form-bg.png) no-repeat 8px center;
	border:                none;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
}

#country {
	display:               inline-block;
	margin:                5px 0 0;
	padding:               0 0 0 9px;
	
	font-size:             15px;
	line-height:           14px;
	font-family:           "RobotoRegular", sans-serif;
	color:                 #8b8b8b;
	
	background:            #ffffff;
	border:                none;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	border-radius:         4px;
	outline:               none;
	cursor:                pointer;
	
	-webkit-appearance:    none;
	-moz-appearance:       none;
	appearance:            none;
	/*width: 274px;*/
}

.section1-right-wrap #country {
	width: 256px;
}

#last-select #country {
	width: 335px;
}

/* ------------------------SELECT FIX -----------------------------*/
/****  footer   ***/
.footer {
	font-size:   16px;
	line-height: 20px;
	color:       #8b8b8b;
}

.footer:after {
	content: " ";
	
	display: block;
	clear:   both;
}

.footer .wrapper {
	padding-right: 50px;
	padding-left:  30px;
}

.footer_polit {
	font-size:       16px;
	line-height:     20px;
	color:           #8b8b8b;
	text-decoration: none;
}

.footer_polit:hover {
	text-decoration: underline;
}

.footer_left {
	float: left;
}

.footer_right {
	float:      right;
	
	text-align: right;
}

.form-mob {
	display: none;
}

.section-for320 {
	display: none;
}

/*****  popup   ****/
.popup1 {
	position:         fixed;
	top:              0;
	left:             0;
	z-index:          100;
	
	display:          none;
	width:            100%;
	height:           100%;
	overflow:         auto !important;
	
	background-color: rgba(0, 0, 0, 0.8);
}

.modal {
	position: fixed;
	top:      0;
	left:     0;
	z-index:  101;
	
	width:    100%;
	height:   100%;
	
	cursor:   pointer;
}

.mod {
	position:      absolute;
	top:           17%;
	left:          50%;
	z-index:       102;
	
	width:         280px;
	margin-bottom: 20px;
	margin-left:   -140px;
}

@media screen and (max-width: 999px) {
	.section1-right.for_top_block {
		margin-top: 10px;
	}
	
	.section17 .title {
		margin-bottom: 65px;
	}
	
	.wrapper {
		width: 695px;
	}
	
	.header-logo {
		float:      none;
		text-align: center;
	}
	
	.blocks-header {
		display: none;
	}
	
	.section1 {
		
		padding-bottom:  35px;
		background-size: cover;
	}
	
	.section1-left {
		display:      block;
		float:        none;
		margin-right: auto;
		margin-left:  auto;
		padding-top:  20px;
	}
	
	.section1-center {
		display:        block;
		float:          none;
		width:          390px;
		min-height:     10px;
		margin-top:     40px;
		margin-right:   auto;
		margin-left:    auto;
		padding-bottom: 10px;
		
		background:     none;
	}
	
	.product-big_sh {
		display: none;
	}
	
	.product-big_title {
		
		margin-left: 0;
		padding-top: 1px;
		position:    relative;
		top:         -27px;
		width: 100%;
		text-align:center;
		
	}
	
	.product-big_sale {
	    top: -71px;
    left: -17%;
	}

	.section1 .product-big_sale {
	    top: 232px;
    left: 55%;
	}
.section1 .section1-center:after{
    content: " ";
    position: absolute;
   
    top: 234px;
    /* right: -42px; */
    z-index: 2;
    left: 50%;
    margin-left: -125px;
    width: 258px;
    height: 348px;
    background: url(../img/product-small_1.png) no-repeat;
    background-size: contain;
	}

.section1 .section1-right.for_top_block {
    margin-top: 10px;
    padding-bottom: 300px;
}
	.section1-center:after {
		content:         " ";
		position:        absolute;
		top:             -78px;
		right:           -42px;
		z-index:         2;
		
		width:           133px;
		height:          255px;
		background:      url(../img/product-small_1.png) no-repeat 0 0;
		background-size: 100%;
	}
	
	.section1-right {
		float:        none;
		width:        390px;
		margin-right: auto;
		margin-left:  auto;
		margin-top:   10px;
	}
	
	.section1-right-wrap {
		margin-bottom: 12px;
	}
	
	.price-old--top,
	.price-new--top {
		width: 33%;
	}
	
	.price-text--top {
		letter-spacing: -1px;
	}
	
	.for_top {
		margin-left: -10px;
	}
	
	.price-old--top {
		margin-left: 3%;
	}
	
	.protection {
		width:               390px;
		margin-right:        auto;
		margin-left:         auto;
		padding-top:         12px;
		padding-right:       1px;
		padding-left:        63px !important;
		
		background-position: 20px top;
	}
	
	.section2 {
		padding-bottom: 20px;
	}
	
	.danger-wrap {
		min-height:          10px;
		margin-top:          30px;
		
		background-position: center 150px;
		background-size:     435px;
	}
	
	.danger_title {
		padding-top:  1px;
		padding-left: 1px;
		
		text-align:   center;
	}

    .danger_text {
        width: 290px;
        margin: 0 auto;
    }
	
	.danger_text--1 {
		margin-top:  25px;
		/*margin-left: 20px;*/
        width: 250px;
	}
	
	.danger_text--2 {
		float:      none;
		margin-top: 420px;
	}
	
	.danger_text--3 {
		float:      none;
		margin-top: 40px;
	}
	
	.section3 {
		background-size: cover;
	}
	
	.symptoms {
		padding: 45px 1px 10px 1px;
	}
	
	.symptoms_text {
		margin-bottom: 22px;
	}
	
	.section4 {
		background-position: center 810px;
		background-size:     540px;
	}
	
	.block_action--1 {
		margin-top:  -30px;
		margin-left: 30px;
	}
	
	.block_action--2 {
		margin-top:   -30px;
		margin-right: -25px;
	}
	
	.block_action--3 {
		padding-top: 265px;
	}
	
	.block_action--4 {
		margin-right: -40px;
		margin-top:   -180px;
	}
	
	.enter {
		    padding: 25px 0 26px 0;
    width: 500px;
    text-align: center;
    margin: auto;
	}
	
	.block_enter {
		width:          230px;
		margin-left:    -1%;
		padding-bottom: 28px;
	}
	
	.block_enter p {
		padding-bottom: 1px;
	}
	
	.action {
		min-height:          10px;
		margin-top:          15px;
		
		background-position: center 70px;
		background-size:     415px;
	}
	
	.section5 {
		padding-top:     1px;
		padding-bottom:  20px;
		
		background-size: cover;
	}
	
	.form-wrap {
		display: none;
	}
	
	.form-mob {
		display: block;
	}
	
	.section5 .form-mob {
		margin-top: -18px;
	}
	
	.section6 {
		background: none;
	}
	
	.research {
		height:          auto;
		
		background-size: 680px;
	}
	
	.research_item {
		padding: 20px 10px;
	}
	
	.research_block {
		padding-top: 1px;
	}
	
	.research_block--1 {
		padding-left: 110px;
	}
	
	.research_procent {
		padding-bottom: 395px;
	}
	
	.rezult {
		display: none;
	}
	
	.section7 {
		margin-top: 30px;
	}
	
	.section7 .title {
		padding: 0 10px;
	}
	
	.best-wrap {
		background: none;
	}
	
	.best {
		padding-bottom: 60px;
		background:     none;
	}
	
	.best br {
		display: none !important;
	}
	
	.best_text--1,
	.best_text--2,
	.best_text--3,
	.best_text--4 {
		margin-left:    1px;
		padding-bottom: 26px;
        width:          100%;
	}
	
	.best_text--4 {
		float: none;
	}
	
	.best_text--5 {
		float:          none;
		margin-top:     1px;
		padding-bottom: 1px;
		width:          100%;
	}
	
	.section8 {
		padding-top:     1px;
		padding-bottom:  20px;
		
		background-size: cover;
	}
	
	.section8 .form-mob {
		margin-top: -18px;
	}
	
	.section9 {
		/*padding-bottom: 45px;*/background-size: cover;
	}
	
	.expert_about--2 {
		padding-bottom: 30px;
	}
	
	.health_block {
		display:      block;
		width:        340px;
		margin-right: auto;
		margin-left:  auto;
	}
	
	.section12 {
		padding-top:     1px;
		padding-bottom:  20px;
		
		background-size: cover;
	}
	
	.section12 .form-mob {
		margin-top: -18px;
	}
	
	.use-block {
		display:        block;
		width:          450px;
		margin-right:   auto;
		margin-left:    auto;
		padding-bottom: 45px;
	}
	
	.use_title {
		padding: 20px 0 20px;
	}
	
	.section14 {
		padding-bottom: 35px;
	}
	
	.get-block {
		width:          47%;
		padding-bottom: 20px;
	}
	
	.get-block--3 {
		display:      block;
		margin-right: auto;
		margin-left:  auto;
	}
	
	.get-block p {
		padding-bottom: 15px;
	}
	
	.sertificats {
		display: none;
	}
	
	.fake {
		padding:             25px 0 245px 15px;
		
		background-position: center bottom;
	}
	
	.fake_text {
		padding:     0 50px 30px;
		
		font-size:   23px;
		line-height: 27px;
		text-align:  center;
	}
	
	.fake_input {
		display:       block;
		margin-right:  auto;
		margin-bottom: 15px;
		margin-left:   auto;
	}
	
	.fake_button {
		display:      block;
		margin-right: auto;
		margin-left:  auto;
	}
	
	.work {
		padding-left: 1px;
	}
	
	.block_work {
		width: 22%;
	}
	
	.section17 {
		padding-bottom:  1px;
		
		background-size: cover;
	}
	
	.section17-left,
	.section17-right {
		display: none;
	}
	
	.footer {
		margin-top: 20px;
		
		background: #ffffff;
	}
	
	.mod {
		width:       390px;
		margin-left: -195px;
	}
	
	.js-message {
		width:      90%;
		margin:     0 auto;
		
		text-align: center;
	}
	
	.footer .wrapper {
		padding-right: 2px;
		padding-left:  2px;
	}
	
	.expert {
		padding-bottom: 200px;
	}
	
	.section9 .title {
		padding-left: 0;
	}
	
	.expert_text {
		padding:        50px 50px 50px 50px;
		font-size:      20px;
		line-height:    28px;
		letter-spacing: -1px;
	}
		.danger_text{width: 80%}
}

@media screen and (max-width: 767px) {
	.wrapper {
		    width: 100%;
    padding: 0 30px;
	}
	
	.expert {
		padding-bottom: 0;
	}
	
	.wrypper {
		overflow-x: hidden;
		
	}
	
	.main-title {
		padding-right: 1px;
		padding-left:  1px;
		
		font-size:     51px;
		line-height:   52px;
	}
	
	.title-small {
		padding-bottom: 8px;
		
		font-size:      28px;
		line-height:    35px;
	}

	.section4 {
		background-position: center 844px;
	}
	
	.enter {    width: 230px;
	}
	
	.block_enter img {
		width: 230px;
	}
	
	.block_enter {
		margin-left: -4%;
	}
	
	.action {
		background-position: center 115px;
	}
	
	.block_action {
		width: 50%;
	}
	
	.block_action ul li {
		list-style: none;
	}
	
	.block_action span {
		display: inline;
	}
	
	.block_action p {
		font-size: 21px;
	}
	
	.block_action--1 {
		margin-top:  -41px;
		margin-left: 30px;
	}
	
	.block_action--2 {
		margin-top:   -45px;
		margin-right: -35px;
		
	}
	
	.block_action ul li {
		font-size: 13px;
	}
	
	.block_action {
		font-size:   15px;
		line-height: 18px;
	}
	
	.block_action--3 {
		margin-left: 25px;
		padding-top: 490px;
	}
	
	.block_action--4 {
		margin-right: -55px;
        margin-top: -140px;
	}
	
	.research {
	    background-position: center bottom;
    background-size: 100%;padding-bottom: 60%;
	}
	
	.research_item {
		letter-spacing: -1px;
	}
	
	.research_item span {
		display: inline;
	}
	
	.research_block--1 {
		padding-left: 5px;
	}
	
	.research_block--2 {
		padding-left: 83px;
	}
	
	.research_procent {
	    padding-bottom: 10px;
    padding-left: 0;
    text-align: center;
	}
	
	.research_block--2 .research_procent {
	/*	padding-left: 8px;*/
	}
	
	.title {
		font-size:   42px;
		line-height: 45px;
	}
	
	.section9 .title {
		padding-left: 0;
	}
	
	.section7 {
		background-position: 200px 180px;
	}
	
	.best-wrap {
		margin-top: 50px;
	}
	
	.expert {
		background-size: 210px;
		background-position: 40px bottom;
	}
	
	.expert_text {
		padding: 30px 25px 55px;
	}
	
	.expert_about,
	.expert_name {
		padding-right: 20px;
		padding-left:  200px;
		
		text-align:    right;
	}
	
	.expert_about span {
		display: block;
	}
	
	.expert_about--2 {
		padding-bottom: 200px;
	}
	
	.section10 .title {
		padding: 0 5px;
	}
	
	.section11 {
		padding-bottom: 40px;
	}
	
	.slider {
		padding: 35px 15px 85px;
	}
	
	.slide_img {
		float:          none;
		width:          150px;
		margin-right:   auto;
		margin-left:    auto;
		padding-top:    1px;
		padding-bottom: 15px;
		padding-left:   1px;
	}
	
	.slide_text {
		padding-left: 1px;
		
		text-align:   center;
	}
	
	.slick-prev,
	.slick-next {
		top:        auto;
		bottom:     -77px;
		z-index:    5;
		
		margin-top: 1px;
	}
	
	.slick-prev {
		left: 1px;
	}
	
	.slick-next {
		right: 1px;
	}
	
	.fake_title,
	.fake_text {
		padding: 0 10px 22px;
	}
	
	.section16 {
		padding-bottom: 20px;
	}
	
	.block_work {
		width:          46%;
		padding-bottom: 30px;
	}
	
	.block_work--3 {
		float: right;
	}
	
	.block_work--4 {
		float: left;
	}
	
	.block_work--2.block_work:after {
		top:        150px;
		right:      23px;
		
		width:      29px;
		height:     77px;
		
		background: url(../img/arrow-work-2.png) no-repeat 0 0;
	}
	
	.block_work--3.block_work:after {
		display: none;
	}
	
	.block_work--4.block_work:after {
		content:    " ";
		position:   absolute;
		top:        27px;
		right:      -48px;
		
		width:      77px;
		height:     29px;
		
		background: url(../img/arrow-work-3.png) no-repeat 0 0;
	}
	
	.research_title {
		font-size:   23px;
		white-space: nowrap;text-align: center;
	}
	.research_text{
		text-align: center;
	}
	.danger_text--2{margin-top: 40px}
.danger-wrap{padding-bottom: 89%;
    background-position: center bottom;
    background-size: contain;}
}

@media screen and (max-width: 479px) {
	.section1 .section1-center:after{
    content: " ";
    position: absolute;
   
    top: 234px;
    /* right: -42px; */
    z-index: 2;
    left: 50%;
    margin-left: -125px;
    width: 258px;
    height: 348px;
    background: url(../img/product-small_1.png) no-repeat;
    background-size: contain;
	}
	.wrapper {
		width: 95%;
	}
	
	.header-call {
		display: none;
	}
	
	.header-logo {
		float:      none;
		
		text-align: center;
	}
	
	.main-title {
		font-size:   29px;
		line-height: 40px;
	}
	
	.title-small {
		font-size:   20px;
		line-height: 26px;
	}
	
	.section1-left {
		width: auto;
	}
	
	.do {
		display:      block;
		height:       auto;
		min-height:   10px;
		padding-top:  110px;
		padding-left: 1px;
		
		text-align:   center;
	}
	
	.do--1,
	.do--2,
	.do--3 {
		background-position: center top;
	}
	
	.section1-center {
		width:      auto;
		margin-top: 15px;
	}
	
	.section1-center:after {
		display: none;
	}
	.section1 .section1-center:after {
		display: block;
	}
	.section1 .product-big_sale {
		
		width:           90px;
		height:          90px;
		padding-top:     23px;
		
		font-size:       10px;
		line-height:     18px;
		display: block;
		background-size: 90px;
	}
		.product-big_sale {
		display: none
	}
	.product-big_sale > span {
		font-size: 27px;
	}
	
	.product-big_sale span > span {
		font-size: 20px;
	}
	
	.section1-right {
		width: auto;
	}
	
	.price-old--top,
	.price-new--top {
		width: 41%;
	}
	
	.price-old--top {
		margin-left: 6%;
	}
	
	.protection {
		/*display: none;*/
		width: 100%;
	}
	
	.product-big_title br {
		display: none;
	}
	
	.title {
		font-size:   28px;
		line-height: 28px;
	}
	
	.danger-wrap {
		margin-top:          30px;
		/*padding-bottom:      290px;
		*/
		background-position: center bottom;
		background-size:     contain;
	}
	
	.danger_title {
		font-size:   30px;
		line-height: 36px;
	}
	
	.danger_text {
		font-size:   20px;
		line-height: 24px;
		width: 100%;
	}
	
	.danger_text--1,
	.danger_text--2,
	.danger_text--3 {
		max-width:     100%;
		margin-top:    20px;
		margin-bottom: 1px;
		margin-left:   1px;
	}
	
	.danger_text > span {
		display: inline;
	}
	
	.symptoms_text {
		font-size:   20px;
		line-height: 30px;
	}
	
	.symptoms {
		padding: 20px 1px 10px 1px;
	}
	
	.section4 {
		padding-bottom: 1px;
		
		background:     none;
	}
	
	.enter {
		padding: 25px 0;
	}
	
	.block_enter {
		display:        block;
		width:          230px;
		margin-right:   auto;
		margin-left:    auto;
		padding-bottom: 28px;
	}
	
	.action {
		background:      url(../img/bg-section4.jpg) no-repeat center 90px;
		background-size: 300px;
	}
	
	.block_action--1,
	.block_action--2,
	.block_action--3,
	.block_action--4 {
		float:      none;
		width:      auto;
		margin:     0;
		padding:    10px 1px;
		
		text-align: center;
	}
	
	.section41 {
		padding-top: 0;
		
		background:  none;
	}
	
	.section41 .title > span:last-child {
		font-size: 20px;
	}
	
	.block_action * {
		width: 100%;
	}
	
	.section41 .title {
		padding:     0;
		
		font-size:   28px;
		line-height: 1;
	}
	
	.block_action--2 {
		margin-bottom:  20px;
		padding-bottom: 230px;
		
		background:     url(../img/action-small.png) no-repeat center bottom;
	}
	
	.section5 {
		padding-top: 20px;
	}
	
	.section8 {
		display: none;
	}
	
	.health {
		padding: 30px 0 5px;
	}
	
	.section-for320 {
		display:         block;
		padding-top:     1px;
		padding-bottom:  20px;
		
		background:      url(../img/bg-section8.jpg) no-repeat center top;
		background-size: cover;
	}
	
	.section11 {
		padding-top: 20px;
	}
	
	.research {
		/*padding-bottom:      20px;*/
		
		/*background-position: center 20px;
		background-size:     310px;*/
	}
	
	.research_block--2 {
		padding-left: 58px;
	}
	
	.research_procent {
		/*padding-bottom: 178px;*/
		
		font-size:      26px;
		line-height:    30px;
	}
	
	.research_title {
		font-size:   18px;
		line-height: 22px;
	}
	
	.research_text {
		font-size:   15px;
		line-height: 18px;
	}
	
	.section7 {
		display: none;
	}
	
	.section9 .title {
		padding-left: 1px;
	}
	
	.expert {
		padding-bottom: 310px;
		background-size: 170px;
	}
	
	.expert_text {
		padding:     30px 25px 20px;
		
		font-size:   19px;
		line-height: 24px;
	}
	
	.expert_about,
	.expert_name {
		padding-left: 2px;
	}
	
	.expert_about--2 {
		padding-bottom: 2px;
	}
	
	.health_block {
		width: auto;
	}
	
	.slick-dots {
		bottom: -50px;
	}
	
	.slick-prev,
	.slick-next {
		bottom: -88px;
	}
	
	.section12,
	.section13 {
		display: none;
	}
	
	.get-block {
		display:     block;
		width:       auto;
		
		font-size:   21px;
		line-height: 26px;
	}
	
	.section15 {
		display: none;
	}
	
	.block_work {
		display: block;
		width:   auto;
	}
	
	.work_img {
		display: none;
	}
	
	.block_work {
		min-height:     92px;
		padding-bottom: 65px;
        padding-top: 20px;
	}
	
	.block_work--1 {
		padding-right:   77px;
        padding-top: 10px;
		background:      url(../img/work-1.png) no-repeat right top;
		background-size: 77px;
	}
	
	.block_work--2 {
		padding-left:    77px;
        padding-top: 30px;
		background:      url(../img/work-2.png) no-repeat left top;
		background-size: 77px;
	}
	
	.block_work--3 {
		float:           none;
		padding-right:   77px;
		
		background:      url(../img/work-3.png) no-repeat right top;
		background-size: 77px;
	}
	
	.block_work--4 {
		float:           none;
		padding-left:    77px;
		
		background:      url(../img/work-4.png) no-repeat left top;
		background-size: 77px;
	}
	
	.block_work--1.block_work:after,
	.block_work--2.block_work:after,
	.block_work--3.block_work:before {
		content:    " ";
		position:   absolute;
		top:        auto;
		right:      auto;
		bottom:     10px;
		left:       40%;
		
		width:      29px;
		height:     45px;
		
		background: url(../img/arrow-small.png) no-repeat 0 0;
	}
	
	.block_work--4.block_work:after {
		display: none;
	}
	
	.work_text {
		font-size:   21px;
		line-height: 23px;
	}
	
	.footer_left {
		float:      none;
		
		text-align: center;
	}
	
	.footer_right {
		display: none;
	}
	
	.mod {
		width:       310px;
		margin-left: -160px;
	}
	
	.form-main:before {
		display: none;
	}
	.section1 .section1-center:after{
    content: " ";
    position: absolute;
   
    top: 234px;
    /* right: -42px; */
    z-index: 2;
    left: 50%;
    margin-left: -125px;
    width: 258px;
    height: 348px;
    background: url(../img/product-big.png) no-repeat;
    background-size: contain;
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance:    none;
	-ms-appearance:     none;
	appearance:         none;
	background:         url(../img/sel2.png) 95% center no-repeat;
}
